# My Jupyter Notebook (Coursera assignment)

This is an introduction to the assignment

Here are some data science languages:

<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
<li>Julia</li>
</ol>

Here are some data science libraries:

<ol>
<li>Scikit-learn</li>
<li>TensorFlow</li>
<li>PyTorch</li>
<li>Numpy</li>
<li>Scipy</li>
</ol>

| Category           | Tools                            |
|--------------------|---------------------------------|
| Data Analysis      | Python (pandas, numpy)           |
| Data Visualization | Tableau, PowerBI        |
| Machine Learning   | Scikit-learn, TensorFlow, Keras  |

Addition: 2 + 3 evaluates to 5

Subtraction: 5 - 2 evaluates to 3

Multiplication: 4 * 3 evaluates to 12

Division: 10 / 2 evaluates to 5

In [6]:
# multiply two numbers
num1 = 5
num2 = 7
product = num1 * num2
print("The product of", num1, "and", num2, "is", product)

# add two numbers
num3 = 3
num4 = 9
sum = num3 + num4
print("The sum of", num3, "and", num4, "is", sum)

The product of 5 and 7 is 35
The sum of 3 and 9 is 12

In [7]:
# convert minutes to hours
minutes = 120
hours = minutes / 60
print(minutes, "minutes is equal to", hours, "hours")

120 minutes is equal to 2.0 hours

Here is the list of objectives: 
<ul>
<li>Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)</li>

<li>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</li>

<li>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</li>

<li>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</li>

<li>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</li>

<li>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</li>

<li>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</li>

<li>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</li>

<li>Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)</li>

<li>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)</li>

<li>Exercise 12 - Share your notebook through GitHub (3 pts)</li>

<li>Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)</li>

</ul>

## Author name: Behzad Ansarinejad